<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>com.frode.quiz.Quiz Menu</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/mycss.css" />
</head>
<body>
    <h1>Welcome to the Frode's Quiz site!</h1>
    <div class="btn">
        <a href="/quiz" class="btn-q">Quizes</a>
        <a href="/ny" class="btn-ny">Make a Quiz</a>
        <a href="/score" class="btn-back">Score</a>
    </div>
</body>
</html>