<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Ny com.frode.quiz.Quiz</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/ny.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/mycss.css" />
</head>
<body>
    <h1>Her kan du lage en ny Quiz!</h1>
    <div class="btn">
        <a href="/" class="btn-home">Home!</a>
    </div>

        <label for="name">New Quiz name:</label>
        <input type="text" name="name" id="name" placeholder="Quiz name" />
        <input type="submit" value="Send" id="send_name"/>


</body>
</html>