<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Ny com.frode.quiz.Quiz</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/ny.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/mycss.css" />
</head>
<body>
<h1>Legg til spørsmål!</h1>
<div class="btn">
    <a href="/" class="btn-home">Home!</a>
</div>
<form id="form">
    <div class="question">
        <p th:text="${quizname}" id="quiz_name"></p>
        <label for="q1_text">Question:</label>
        <input type="text" name="q1_text" id="q1_text" placeholder="Question 1" />
        <label for="q1_a1">Answer 1:</label>
        <input type="text" name="q1_a1" id="q1_a1" placeholder="Answer 1" />
        <label for="q1_a2">Answer 2:</label>
        <input type="text" name="q1_a2" id="q1_a2" placeholder="Answer 2" />
        <label for="q1_a3">Answer 3:</label>
        <input type="text" name="q1_a3" id="q1_a3" placeholder="Answer 3" />
        <label for="q1_a4">Answer 4:</label>
        <input type="text" name="q1_a4" id="q1_a4" placeholder="Answer 4" />
        <label for="q1_ca">Correct answer:</label>
        <input type="text" name="q1_ca" id="q1_ca" placeholder="Correct answer" />
        <br/>
        <input type="submit" value="send" id="send"/>
        <input th:value="${quizid}" id="quizId" name="quizId" hidden="hidden"/>
    </div>

</form>
</body>
</html>